{#
/**
 * @file
 * Avoindata Hero Form
 *
 * @ingroup themeable
 */
#}
{{ attach_library('avoindata_hero/avoindata_hero') }}
<div class="avoindata-hero">
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    <div class="avoindata-hero-search-container">
        <div>
            <div class="d-inline-block avoindata-frontpage-header-text-container">
                <h1>
                    {% trans %}
                        All Finnish open data from one place
                    {% endtrans %}
                </h1>
            </div>
        </div>
        <!-- TODO: Change justify "evenly" to "between" -->
        <div class="d-flex flex-wrap justify-content-evenly mt-2">
          {{ form.statistics }}
        </div>
        <div class="ytp-bg-highlight-base d-flex p-3 mt-4">
            <div class="flex-1">
                <div class="ytp-input-with-icon-frontpage">
                    {% set placeholder %}
                        {%- trans -%}
                        Type what are you searching for
                        {%- endtrans -%}
                    {% endset %}
                    <input
                        id="edit-search"
                        name="search"
                        type="text"
                        class="ytp-input-element-frontpage color-depth-dark27"
                        placeholder="{{ placeholder }}"
                    >
                </div>
            </div>
            <div class="position-relative">
                <button type="submit" class="hero-button-submit">
                    {% trans %}
                        Search
                    {% endtrans %}
                </button>
            </div>
        </div>
        {{ form.searchfilter }}
        <div class="d-flex mt-3 justify-content-end">
            <a href="/data/{{ form['#language'] }}/advanced_search">
                {% trans %}
                    Use advanced search
                {% endtrans %}
            </a>
        </div>
    </div>
</div>
