{#
/**
 * @file
 * Avoindata Hero Form
 *
 * @ingroup themeable
 */
#}
{{ attach_library('avoindata_hero/avoindata_hero') }}
<div class="avoindata-hero">
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    <div class="avoindata-hero-search-container">
        <div>
            <div class="d-inline-block avoindata-frontpage-header-text-container">
                <h2>
                    {% trans %}
                        All Finnish open data from one place
                    {% endtrans %}
                </h2>
            </div>
        </div>
        <!-- TODO: Add api endpoints when they are available and change justify "evenly" to "between" -->
        <div class="d-flex flex-wrap justify-content-evenly mt-2">
            {% set dataset_text %}
                {% trans with {'context': 'x datasets'} %}
                Datasets
                {% endtrans %}
            {% endset %}
            {% set organization_text %}
                {% trans with {'context': 'x organizations'} %}
                Organizations
                {% endtrans %}
            {% endset %}
            {% set showcase_text %}
                {% trans with {'context': 'x applications'} %}
                Applications
                {% endtrans %}
            {% endset %}

            {% set dataset = {'url': 'dataset', 'count': form.datasetcount | default("0"), 'text': dataset_text} %}
            {% set organization = {'url': 'organization', 'count': form.organizationcount | default("0"), 'text': organization_text} %}
            {% set showcase = {'url': 'showcase', 'count': form.applicationcount | default("0"), 'text': showcase_text} %}

            {% set counts = [dataset, organization, showcase] %}

            {% for count in counts %}
                <div class="text-center">
                    <h2>{{ count.count }}</h2>
                    <h4>
                        <strong>{{ count.text }}</strong>
                    </h4>
                    <a href="/data/{{ form.language }}/{{ count.url }}">
                        {% trans %}
                        Show all
                        {% endtrans %}
                        →
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="bg-highlight-base d-flex p-3 mt-4">
            <div class="flex-1">
                <div class="ytp-input-with-icon-frontpage">
                    {% set placeholder %}
                        {%- trans -%}
                        Type what are you searching for
                        {%- endtrans -%}
                    {% endset %}
                    <input
                        id="edit-search"
                        name="search"
                        type="text"
                        class="ytp-input-element-frontpage color-depth-dark27"
                        placeholder="{{ placeholder }}"
                    >
                  <button type="submit">
                    <span>
                      {% trans %}
                      Submit
                    {% endtrans %}
                    </span>
                    <i class="fa fa-2x fa-search color-depth-base"></i>
                  </button>
                </div>
            </div>
            <div class="position-relative">
                <button id="type-dropdown" type="button" class="suomifi-button-secondary-black-text" data-toggle="dropdown" value="1" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-3">
                        {% trans %}
                            Datasets
                        {% endtrans %}
                    </span>
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" data-value="1">
                            {% trans %}
                            Datasets
                            {% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-value="2">
                            {% trans %}
                            Applications
                            {% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-value="3">
                            {% trans %}
                            Organizations
                            {% endtrans %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {{ form.searchfilter }}
        <div class="d-flex mt-3 justify-content-end">
            <a href="/data/{{ form.language }}/advanced_search">
                {% trans %}
                    Use advanced search
                {% endtrans %}
            </a>
        </div>
    </div>
</div>
