{#
/**
 * @file
 * Avoindata Guide block
 *
 * @ingroup themeable
 */
#}
<div> OPAS </div>
<div class="avoindata-articles-container">
    {{ content }}
    <div class="row">
        <h2 class="module-heading">
            {{ guidePageTitle }}
        </h2>
        <div class="secondary col-12 col-md-8">
            <div>
                guidepage: {{guidePage}}
                content: {{ guidePage.content }}
                allPages: {{ allPages }}
            </div>
        </div>

        <div class="secondary col-12 col-md-4">
            {{ drupal_region('guide_menu') }}
        </div>


    </div>
</div>


