{#
/**
 * @file
 * Avoindata Guide block
 *
 * @ingroup themeable
 */
#}
<div class="container-fluid">
    <div class="avoindata-guide-container avoindata-card-container">
        <div class="row">
            <div class="secondary col-12 col-md-8">
                <div class="row guide-header-container">
                    <h2 id="guide-header">
                        {{ label }}
                    </h2>
                </div>
                <div class="row guide-image">
                    {{ content.field_page_image|field_value }}
                </div>
                <div class="spacer"></div>
                <div class="row guide-content">
                    {{ content.field_content|field_value }}
                </div>
                <div class="row">
                    {{ content.field_guide_comments|field_value }}
                </div>
            </div>
            <div id="guide-menu-column" class="secondary col-12 col-md-4">
                {{ drupal_region('guide_menu') }}
            </div>
        </div>
    </div>
</div>
