{#
/**
 * @file
 * Avoindata News Feed Block
 *
 * @ingroup themeable
 */
#}


<div class="avoindata-newsfeed">
  <div class="avoindata-newsfeed-container justify-content-center">

    <div class="row avoindata-newsfeed-header-row">
        <h2>
          {% trans %}
            News
          {% endtrans %}
        </h2>
    </div>

    <div class="avoindata-newsfeed-items mt-2">

        {% for news in articles %}
          <div class="avoindata-newsfeed-line h-100 mr-4">
          </div>

          <div class="avoindata-newsfeed-item mt-2">
            <div class="avoindata-newsfeed-item-date">
                <p>
                {% trans %}
                  Julkaistu
                {% endtrans %}
                {{ news.createdtime | date('d.m.Y')}}</p>
            </div>
            <div class="avoindata-newsfeed-item-title mt-2 line-clamp-3">
                <a href={{ path('entity.node.canonical', {'node': news.id}) }} class="mt-2">
                {{ news.label }}
                </a>
            </div>
            <div class="avoindata-newsfeed-item-tags mt-3">
                {% for tag in news.tags | slice(0, 2) %}
                  <div class="avoindata-newsfeed-tag mr-2 mt-2">
                      {{tag.name}}
                  </div>
                {% endfor %}
            </div>

          </div>

        {% endfor %}

    </div>

    <div class="avoindata-feed-button-wrapper container-fluid d-flex justify-content-center pt-4 pb-5">
      <div class="avoindata-newsfeed-link container-fluid d-flex align-items-center">
        <i class="far fa-chevron-right"></i>
        <a href="/{{language}}/articles" class="">
        {% trans %}
          All news and notifications
        {% endtrans %}
        </a>
      </div>

    </div>


  </div>


</div>
