{#
Copied from: https://knackforge.com/blog/pathirakaliappan/create-multi-level-bootstrap-menu-drupal-8
Removed the navbar-nav class to make this a vertical menu
#}
{# All menu and submenu items #}
<div class="navbar">
  <div class="navbar-header pull-right">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="opendata-menu-container collapse navbar-collapse">
    {% import _self as menus %}
    {#
      We call a macro which calls itself to render the full tree.
      @see http://twig.sensiolabs.org/doc/tags/macro.html
    #}
    {{ menus.menu_links(items, attributes, 0) }}

    {% macro menu_links(items, attributes, menu_level) %}
      {% import _self as menus %}
      {% if items %}
        {% if menu_level == 0 %}
            <ul class="nav" role="menu" aria-labelledby="dropdownMenu">
        {% else %}
          <ul class="dropdown-menu vertical-dropdown-menu" role="menu" aria-labelledby="dLabel">
        {% endif %}
        {% for item in items %}
          {%
            set item_classes = [
              item.in_active_trail ? 'active',
            ]
          %}
          {% if item.below %}
            {% if menu_level == 0 %}
              {# To be able to highlight the parent as selected (and not also the parent when child is selected);
                 for items in active trail check if any child is also in active trail and only give active class to the parent if no child is active #}
              {% if item.in_active_trail %}
                {% set child_selected = false %}
                {% for child in item.below %}
                  {% if child.in_active_trail %}
                    {% set child_selected = true %}
                  {% endif %}
                {% endfor %}
              {% endif %}
              <li class="dropdown {{ item.in_active_trail ? 'open' }}" >
                <a href="{{ item.url }}" class="dropdown-toggle {{ item.in_active_trail and not child_selected ? 'active' }}"><span class="link-content">{{ item.title }}<span class="pull-right"><i class="fas {{ item.in_active_trail ? 'fa-angle-up' : 'fa-angle-down'}}"></i></span></span></a>
                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
              </li>
            {% else %}
              <li class="dropdown-submenu">
                <a href="{{ item.url }}"><span class="link-content">{{ item.title }}</span></a>
                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
              </li>
            {% endif %}
          {% else %}
            <li {{ item.attributes.addClass(item_classes) }}><a href="{{ item.url }}" {{ item.attributes.addClass(item_classes) }}><span class="link-content">{{ item.title }}</span></a></li>
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
    {% endmacro %}

  </div>
</div>
